/* Base */
@import url(../node_modules/normalize.css/normalize.css);
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");
@import url("/assets/fontawesome/css/all.min.css");
/*Functions & Mixins */
/* Variables */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
  *:before, *:after {
    box-sizing: border-box; }

/* Valeur Par Default */
:root h2 {
  padding: 0;
  margin: 0;
  font-size: clamp(1rem, 4vw, 1.875rem);
  line-height: 0.83333;
  letter-spacing: 1.5px;
  color: #0d0d0d; }

:root h3 {
  margin: 0;
  padding: 0;
  margin-bottom: 1.5625rem;
  font-size: 1.25rem;
  line-height: 1.25;
  font-weight: 700;
  color: #0d0d0d;
  text-transform: uppercase; }

:root hr {
  margin: 115px 0;
  padding: 0;
  height: 2px;
  background-color: #e6e6e6;
  border: none; }

body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #fff;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  color: #737373;
  line-height: 1.75; }

a {
  color: inherit;
  text-decoration: none; }

p {
  padding: 0;
  margin: 0;
  margin-bottom: 1.25rem;
  line-height: 28px; }

.cb {
  clear: both; }

.important {
  color: #e74c3c; }

/* Layouts */
.l-container {
  margin: 0 auto;
  overflow: auto;
  z-index: 5;
  padding: 0 5px; }

@media (min-width: 768px) {
  .l-container {
    padding: 0 20px; } }

@media (min-width: 1200px) {
  .l-container {
    max-width: 1170px;
    width: 100%; } }

/* Modules */
.header {
  position: relative;
  height: 37.5rem;
  background: url("/assets/images/bg-head.jpg") center top/cover no-repeat;
  background-attachment: fixed;
  color: #fff;
  text-align: center; }
  .header:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(52, 73, 94, 0.7);
    z-index: 1; }

.header-menu-container {
  position: relative;
  z-index: 5;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  padding: 0.625rem; }

.header-logo {
  -webkit-box-flex: 0;
  -webkit-flex: none;
      -ms-flex: none;
          flex: none; }
  .header-logo img {
    height: auto;
    width: 64%; }

.header-baseline {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  margin: auto;
  max-width: 100%;
  min-width: 16.25rem;
  z-index: 2;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: -1px; }

.header-baseline-l {
  display: block; }

.header-baseline-l1 {
  font-size: 5vw;
  line-height: 2.25; }

.header-baseline-l2 {
  line-height: 1.33333;
  font-size: 5vw;
  font-weight: bold;
  white-space: nowrap; }

.header-baseline-l3 {
  font-size: 3.4vw;
  line-height: 1.75; }

.header-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  top: 61%;
  z-index: 2;
  margin: auto;
  white-space: nowrap; }

/* ---------------- MENU -------------------- */
/* -------------------------------------- */
.menu-default {
  display: none;
  font-weight: 600; }

.menu-item:hover {
  color: #000;
  -webkit-transition: 0.3s;
  transition: 0.3s; }

.menu-item:first-child:before {
  display: none; }

.menu-item:before {
  content: "//";
  display: inline-block;
  padding: 0 2.3125rem;
  cursor: default;
  color: #fff; }

.menu-burger {
  background-color: transparent;
  -webkit-box-flex: 0;
  -webkit-flex: none;
      -ms-flex: none;
          flex: none;
  border: 0;
  color: #fff; }
  .menu-burger:before {
    content: '\f0c9';
    display: inline-block;
    font-family: 'Font Awesome 5 Free';
    font-weight: 600;
    font-size: 2.0625rem;
    padding: 0.8125rem;
    cursor: pointer; }

.menu-mobile {
  display: none; }

/* ------HEADER & MENU MOBILE ------------ */
/* -------------------------------------- */
.header-mobile:before {
  background: rgba(243, 156, 18, 0.82);
  z-index: 4; }

.header-mobile .header-baseline {
  display: none; }

.header-mobile .menu-default {
  display: none; }

.header-mobile .menu-burger {
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  .header-mobile .menu-burger:before {
    content: '\f00d';
    font-size: 1.6875rem; }

.header-mobile .menu-mobile {
  display: block;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase; }
  .header-mobile .menu-mobile .menu-mobile-list {
    list-style: none;
    position: absolute;
    z-index: 10;
    font-size: clamp(15px, 6vw, 25px);
    top: 45%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
    .header-mobile .menu-mobile .menu-mobile-list .menu-mobile-item {
      margin-top: 0.3125rem; }
      .header-mobile .menu-mobile .menu-mobile-list .menu-mobile-item a {
        letter-spacing: 3px; }
        .header-mobile .menu-mobile .menu-mobile-list .menu-mobile-item a:hover, .header-mobile .menu-mobile .menu-mobile-list .menu-mobile-item a.active {
          color: #000;
          -webkit-transition: 0.3s;
          transition: 0.3s;
          font-weight: 300; }

.header-mobile .header-btn {
  display: none; }

@media (min-width: 374px) and (max-width: 759px) {
  .header-btn {
    top: 67%; } }

@media only screen and (min-width: 705px) {
  .header {
    height: 72.8125rem;
    padding-top: 3.125rem; }
  .header-menu-container {
    padding: 0; }
    .header-menu-container .header-logo img {
      width: 77%; }
    .header-menu-container .menu-default {
      display: block;
      font-size: clamp(14px, 2vw, 18px); }
      .header-menu-container .menu-default .menu-item:before {
        padding: 0 15px; }
    .header-menu-container .menu-burger,
    .header-menu-container .menu-mobile,
    .header-menu-container .menu-mobile-list {
      display: none; }
  .header-baseline .header-baseline-l1 {
    line-height: 60px; }
  .header-baseline .header-btn {
    top: 65%; } }

@media only screen and (min-width: 992px) {
  .header-baseline .header-baseline-l1 {
    font-size: 45px; }
  .header-baseline .header-baseline-l2 {
    font-size: 55px; }
  .header-baseline .header-baseline-l3 {
    font-size: 40px; } }

.btn {
  display: inline-block;
  padding: 0 1.25rem;
  font-size: 0.8125rem;
  line-height: 2.66667;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
  background-color: #f39c12;
  border: 1px solid #f39c12; }
  .btn:hover, .btn:focus {
    background-color: transparent;
    color: #f39c12;
    -webkit-transition: 0.3s;
    transition: 0.3s; }

@media only screen and (min-width: 600px) {
  .btn {
    padding: 0 2.5rem;
    font-size: 0.9375rem; } }

.section {
  padding: 2.8125rem 0;
  background-color: #fff;
  position: relative; }
  .section:before, .section:after {
    content: '';
    display: block;
    background-color: #fff;
    z-index: 4;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transform-origin: top left;
        -ms-transform-origin: top left;
            transform-origin: top left;
    -webkit-transform: skewY(-2deg);
        -ms-transform: skewY(-2deg);
            transform: skewY(-2deg); }
  .section:after {
    -webkit-transform-origin: top right;
        -ms-transform-origin: top right;
            transform-origin: top right; }
  .section .l-container {
    position: relative; }

.section-presentation {
  margin-bottom: clamp(70px, 7vw, 140px);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column wrap;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  padding: 0 1rem;
  max-width: 100%; }
  .section-presentation .section-presentation-title {
    padding: 0;
    text-transform: uppercase;
    text-align: center; }
  .section-presentation .section-presentation-text {
    padding: 0.625rem 0;
    font-size: clamp(0.6875rem, 3.4vw, 1rem);
    line-height: 1.5625;
    text-transform: uppercase;
    font-weight: 400;
    text-align: center; }
    .section-presentation .section-presentation-text::before {
      content: '';
      display: block;
      width: 50px;
      height: 0;
      margin: 0 auto;
      margin-bottom: 15px;
      border-bottom: 4px solid #f39c12;
      -webkit-transition: 0.3s;
      transition: 0.3s; }

.icon-section {
  position: relative; }
  .icon-section:before {
    content: "\f0eb";
    display: inline-block;
    width: 6.875rem;
    height: 6.875rem;
    border: 2px solid #f39c12;
    border-radius: 50%;
    font-family: 'Font Awesome 5 Free';
    font-weight: 300;
    font-size: 2.25rem;
    line-height: 110px;
    text-align: center;
    vertical-align: top; }
  .icon-section:hover {
    -webkit-transition: 0.3s;
    transition: 0.3s; }
    .icon-section:hover:before {
      background-color: transparent;
      color: #f39c12;
      border: 2px solid #f39c12; }

@media only screen and (min-width: 768px) {
  .section {
    padding: 5.3125rem 0; }
  .section-presentation {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row nowrap;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    padding-left: 32px; }
    .section-presentation .section-presentation-text {
      padding: 0 20px;
      margin-left: 20px;
      text-align: left;
      border-left: 4px solid #f39c12; }
      .section-presentation .section-presentation-text:before {
        display: none; } }

.section-about .section-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column wrap;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap; }
  .section-about .section-content .content-text {
    width: 100%;
    text-align: center; }
    .section-about .section-content .content-text .title {
      margin-top: 25px; }
  .section-about .section-content .content-image {
    width: 100%;
    text-align: center; }
    .section-about .section-content .content-image img {
      max-width: 100%; }

@media only screen and (min-width: 992px) {
  .section-about .section-content {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row nowrap;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap; }
    .section-about .section-content .content-text {
      width: 31.5625rem;
      text-align: left; }
      .section-about .section-content .content-text .title {
        margin-top: 0; }
    .section-about .section-content .content-image {
      width: 28.125rem; }
      .section-about .section-content .content-image img {
        max-width: 100%; } }
