@charset "UTF-8";
/* Tools */
/*Functions & Mixins */
/* Variables */
/* Base */
@import url(../node_modules/normalize.css/normalize.css);
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");
@import url("/assets/fontawesome/css/all.min.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
  *:before, *:after {
    box-sizing: border-box; }

/* Valeur Par Default */
:root h2 {
  padding: 0;
  margin: 0;
  font-size: clamp(1rem, 4vw, 1.5rem);
  line-height: 0.83333;
  letter-spacing: 1.5px;
  color: #0d0d0d; }

:root h3 {
  margin: 0;
  padding: 0;
  margin-bottom: 0.875rem;
  font-size: 1.125rem;
  line-height: 1.25;
  font-weight: 700;
  color: #0d0d0d;
  text-transform: uppercase; }

:root h5 {
  margin: 0;
  padding: 0; }

:root hr {
  margin: 115px 0;
  padding: 0;
  height: 2px;
  background-color: #e6e6e6;
  border: none; }

body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #fff;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  color: #737373;
  line-height: 1.75; }

a {
  color: inherit;
  text-decoration: none; }

p {
  padding: 0;
  margin: 0;
  margin-bottom: 1.25rem;
  line-height: 28px; }

blockquote {
  font-size: clamp(1.875rem, 3vw, 2.8125rem);
  font-weight: bold;
  line-height: 1.33333; }

cite {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-style: normal;
  font-weight: bold; }

.cb {
  clear: both; }

.important {
  color: #e74c3c;
  line-height: 28px; }

.is-active {
  color: #f39c12; }

.img-fluid {
  max-width: 100%;
  height: auto; }

ul {
  list-style: none; }

/* Layouts */
.l-container {
  margin: 0 auto;
  overflow: auto;
  z-index: 5;
  padding: 0 5px; }

@media (min-width: 768px) {
  .l-container {
    padding: 0 20px; } }

@media (min-width: 1200px) {
  .l-container {
    max-width: 1170px;
    width: 100%; } }

/* Modules */
/* ---------------- HEADER SECTION ---------- */
/* -------------------------------------- */
.header {
  position: relative;
  height: 37.5rem;
  background: url("/assets/images/pharma.JPG") center top/cover no-repeat;
  color: #fff;
  text-align: center; }
  .header:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(89, 93, 255, 0.4) !important;
    z-index: 1; }

.header-menu-container {
  position: relative;
  z-index: 5;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  padding: 0.625rem; }

.header-logo {
  -webkit-box-flex: 0;
  -webkit-flex: none;
      -ms-flex: none;
          flex: none; }
  .header-logo img {
    height: auto;
    width: 64%; }

.header-baseline {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  margin: auto;
  max-width: 100%;
  min-width: 16.25rem;
  z-index: 2;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: -1px; }

.header-baseline-l {
  display: block; }

.header-baseline-l1 {
  font-size: 5vw;
  line-height: 2.25; }

.header-baseline-l2 {
  line-height: 1.33333;
  font-size: 5vw;
  font-weight: bold;
  white-space: nowrap; }

.header-baseline-l3 {
  font-size: 3.4vw;
  line-height: 1.75; }

.header-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  top: 61%;
  z-index: 2;
  margin: auto;
  white-space: nowrap; }

/* ---------------- MENU -------------------- */
/* -------------------------------------- */
.menu-default {
  display: none;
  font-weight: 600;
  text-transform: uppercase; }

.menu-item {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.78571; }
  .menu-item:hover {
    color: #f39c12;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
  .menu-item:first-child:before {
    display: none; }
  .menu-item:before {
    content: "\\\\";
    display: inline-block;
    padding: 0 2.3125rem;
    cursor: default;
    color: #fff; }

.menu-burger {
  background-color: transparent;
  -webkit-box-flex: 0;
  -webkit-flex: none;
      -ms-flex: none;
          flex: none;
  border: 0;
  color: #fff; }
  .menu-burger:before {
    content: '\f0c9';
    display: inline-block;
    font-family: 'Font Awesome 5 Free';
    font-weight: 600;
    font-size: 2.0625rem;
    padding: 0.8125rem;
    cursor: pointer; }

.menu-mobile {
  display: none; }
  .menu-mobile .menu-item:hover {
    color: #000; }

/* ------HEADER & MENU MOBILE ------------ */
/* -------------------------------------- */
.header-mobile:before {
  background: rgba(243, 156, 18, 0.82) !important;
  z-index: 4; }

.header-mobile .header-baseline {
  display: none; }

.header-mobile .menu-default {
  display: none; }

.header-mobile .menu-burger {
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  .header-mobile .menu-burger:before {
    content: '\f00d';
    font-size: 1.6875rem; }

.header-mobile .menu-mobile {
  display: block;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase; }
  .header-mobile .menu-mobile .menu-mobile-list {
    list-style: none;
    position: absolute;
    z-index: 10;
    font-size: clamp(15px, 6vw, 25px);
    top: 45%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
    .header-mobile .menu-mobile .menu-mobile-list .menu-mobile-item {
      margin-top: 0.3125rem; }
      .header-mobile .menu-mobile .menu-mobile-list .menu-mobile-item a {
        letter-spacing: 3px; }
        .header-mobile .menu-mobile .menu-mobile-list .menu-mobile-item a:hover, .header-mobile .menu-mobile .menu-mobile-list .menu-mobile-item a.active {
          color: #000;
          -webkit-transition: 0.3s;
          transition: 0.3s;
          font-weight: 300; }

.header-mobile .header-btn {
  display: none; }

@media (min-width: 374px) and (max-width: 759px) {
  .header-btn {
    top: 67%; } }

@media only screen and (min-width: 705px) {
  .header {
    height: 72.8125rem;
    padding-top: 3.125rem;
    background-attachment: fixed; }
  .header-menu-container {
    padding: 0; }
    .header-menu-container .header-logo img {
      width: 77%; }
    .header-menu-container .menu-default {
      display: block;
      font-size: clamp(14px, 2vw, 18px); }
      .header-menu-container .menu-default .menu-item:before {
        padding: 0 15px; }
    .header-menu-container .menu-burger,
    .header-menu-container .menu-mobile,
    .header-menu-container .menu-mobile-list {
      display: none; }
  .header-baseline .header-baseline-l1 {
    line-height: 60px; }
  .header-baseline .header-btn {
    top: 65%; } }

@media only screen and (min-width: 992px) {
  .header-baseline .header-baseline-l1 {
    font-size: 45px; }
  .header-baseline .header-baseline-l2 {
    font-size: 55px; }
  .header-baseline .header-baseline-l3 {
    font-size: 40px; } }

/* ---------------- SECTIONS  ---------- */
/* -------------------------------------- */
.section-x {
  padding: 2.8125rem 0;
  position: relative; }
  .section-x:before, .section-x:after {
    content: '';
    display: block;
    background-color: #fff;
    z-index: 4;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    -webkit-transform-origin: top left;
        -ms-transform-origin: top left;
            transform-origin: top left;
    -webkit-transform: skewY(-2deg);
        -ms-transform: skewY(-2deg);
            transform: skewY(-2deg); }
  .section-x:after {
    -webkit-transform-origin: top right;
        -ms-transform-origin: top right;
            transform-origin: top right; }
  .section-x .l-container {
    position: relative; }

.section-presentation {
  margin-bottom: clamp(60px, 7vw, 140px);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column wrap;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  padding: 0 1rem;
  max-width: 100%; }
  .section-presentation .section-presentation-title {
    padding: 0;
    text-transform: uppercase;
    text-align: center; }
  .section-presentation .section-presentation-text {
    padding: 0.625rem 0;
    font-size: clamp(0.6875rem, 3.4vw, 1rem);
    line-height: 1.5625;
    text-transform: uppercase;
    font-weight: 400;
    text-align: center; }
    .section-presentation .section-presentation-text::before {
      content: '';
      display: block;
      width: 50px;
      height: 0;
      margin: 0 auto;
      margin-bottom: 15px;
      border-bottom: 4px solid #f39c12;
      -webkit-transition: 0.3s;
      transition: 0.3s; }

/* Section banner */
.section-banner {
  position: relative;
  padding: 100px 0;
  background: url("/assets/images/bg-head.jpg") top center/cover no-repeat;
  background-attachment: fixed;
  text-align: center;
  color: #fff; }
  .section-banner:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(89, 93, 255, 0.4) !important;
    z-index: 1; }
  .section-banner .card {
    padding-bottom: 0; }
    .section-banner .card:hover {
      border: 1px solid transparent;
      border-top: 4px solid transparent;
      -webkit-transition: .7s;
      transition: .7s;
      background: transparent; }
    .section-banner .card .card-image {
      width: 111px;
      height: 111px;
      border-radius: 50%;
      cursor: pointer; }
  .section-banner .icon-custom {
    width: 100px;
    height: 100px;
    line-height: 6.25rem;
    font-size: 1.75rem;
    border: 1px solid #fff; }
    .section-banner .icon-custom i {
      color: #f39c12; }
    .section-banner .icon-custom:hover {
      border: 1px solid #f39c12; }
      .section-banner .icon-custom:hover i {
        color: #fff; }
  .section-banner .text {
    margin: 0;
    font-size: 22px;
    line-height: 1.5; }
  .section-banner .details {
    margin-top: 6px;
    font-size: 15px;
    color: whitesmoke; }
  .section-banner .l-container {
    position: relative; }

.section-maps {
  position: relative;
  background-attachment: fixed;
  text-align: center;
  color: #fff; }
  .section-maps:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1; }

#mapid {
  height: 180px; }

@media only screen and (min-width: 768px) {
  .section {
    padding: 5.3125rem 0; }
  .section-presentation {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row nowrap;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap; }
    .section-presentation .section-presentation-title {
      margin-top: -1.25rem; }
    .section-presentation .section-presentation-text {
      padding: 0 1.25rem;
      margin-left: 1.25rem;
      text-align: left;
      border-left: 0.25rem solid #f39c12; }
      .section-presentation .section-presentation-text:before {
        display: none; }
  .section-banner {
    padding: 200px 0; } }

/* ---------------- BUTTONS ---------- */
/* -------------------------------------- */
.btn, .btn-inverse {
  display: inline-block;
  padding: 0 1.25rem;
  background-color: #f39c12;
  cursor: pointer;
  font-size: 0.8125rem;
  line-height: 2.66667;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #f39c12; }
  .btn:hover, .btn:focus, .btn-inverse:hover, .btn-inverse:focus {
    background-color: transparent;
    color: #f39c12;
    -webkit-transition: 0.5s;
    transition: 0.5s; }

.btn-inverse {
  background-color: transparent;
  color: #000; }
  .btn-inverse:hover, .btn-inverse:focus {
    background-color: #f39c12;
    color: #fff; }

@media only screen and (min-width: 600px) {
  .btn,
  .btn-inverse {
    padding: 0 2.5rem;
    font-size: 0.9375rem; } }

/* ---------------- BULLE ---------- */
/* -------------------------------------- */
.icon-section {
  position: relative; }
  .icon-section:before {
    content: "\f0eb";
    display: inline-block;
    width: 6.875rem;
    height: 6.875rem;
    border: 2px solid #f39c12;
    border-radius: 50%;
    font-family: 'Font Awesome 5 Free';
    font-weight: 300;
    font-size: 2.25rem;
    line-height: 110px;
    text-align: center;
    vertical-align: top; }
  .icon-section:hover, .icon-section:focus {
    -webkit-transition: 0.3s;
    transition: 0.3s; }
    .icon-section:hover:before, .icon-section:focus:before {
      background-color: transparent;
      color: #f39c12;
      border: 2px solid #f39c12;
      cursor: pointer; }

.icon-custom {
  position: relative;
  display: inline-block;
  width: 150px;
  height: 150px;
  border: 2px solid transparent;
  border-radius: 100%;
  border-color: #f39c12;
  text-align: center;
  line-height: 150px;
  font-size: 2.25rem;
  margin-bottom: 30px; }
  .icon-custom:hover, .icon-custom:focus {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    border-color: #fff;
    color: #f39c12; }
    .icon-custom:hover:before, .icon-custom:focus:before {
      background-color: transparent;
      color: #f39c12;
      border: 2px solid #f39c12;
      cursor: pointer; }

/* ---------------- PROGRESS BAR ---------- */
/* -------------------------------------- */
.progress-bar {
  margin-bottom: 1.875rem; }
  .progress-bar:last-child {
    margin-bottom: 0; }
  .progress-bar .value {
    color: #bfbfbf; }
    .progress-bar .value:before {
      content: "/";
      display: inline-block;
      padding: 0 8px; }

.progress-bar-title {
  display: inline-block;
  line-height: 40px;
  text-transform: uppercase; }

.progress-bar-content {
  width: 100%;
  max-width: 85%;
  margin: 0 auto;
  height: 10px;
  position: relative;
  background-color: #e6e6e6; }
  .progress-bar-content span {
    display: inline-block;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #f39c12; }

@media only screen and (min-width: 992px) {
  .progress-bar-content {
    margin: unset; } }

/* ---------------- QUOTE ---------- */
/* -------------------------------------- */
.quote-text {
  display: inline-block;
  position: relative;
  padding: 0 2.5rem; }
  .quote-text:before, .quote-text:after {
    width: 55px;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 3.875rem;
    line-height: 0.96774; }
  .quote-text:before {
    content: '"'; }
  .quote-text:after {
    content: '"';
    left: auto;
    right: 0; }

.quote-author {
  display: block;
  margin-top: 1.875rem; }
  .quote-author:before {
    content: '';
    display: block;
    width: 3.125rem;
    height: 0.3125rem;
    background-color: #f39c12;
    margin: 0 auto; }

.banner-quote-secondary .quote-text {
  font-size: 1.375rem;
  font-weight: 400;
  line-height: 1.36364;
  font-style: italic;
  text-align: center; }
  .banner-quote-secondary .quote-text:before, .banner-quote-secondary .quote-text:after {
    display: none; }

.banner-quote-secondary .quote-author {
  margin-top: 0;
  margin-bottom: 30px; }
  .banner-quote-secondary .quote-author:before {
    display: none; }
  .banner-quote-secondary .quote-author:after {
    content: '';
    display: block;
    width: 3.125rem;
    height: 0.3125rem;
    background-color: #f39c12;
    margin: 0 auto; }

@media only screen and (min-width: 768px) {
  .quote-text {
    padding: 0 3.4375rem; }
    .quote-text:before, .quote-text:after {
      font-size: 6.875rem;
      line-height: 0.54545; } }

/* ---------------- SOCIAL NETWORK ---------- */
/* -------------------------------------- */
.twitter,
.facebook,
.dribble,
.google-plus,
.linkedin {
  color: #999999; }
  .twitter:hover,
  .facebook:hover,
  .dribble:hover,
  .google-plus:hover,
  .linkedin:hover {
    color: #f39c12; }
  .twitter:before,
  .facebook:before,
  .dribble:before,
  .google-plus:before,
  .linkedin:before {
    content: "\f0d5";
    display: inline-block;
    padding: 6px;
    font-family: "Font Awesome 5 Brands";
    font-weight: 400;
    font-size: .9rem;
    vertical-align: middle;
    font-style: normal; }

.twitter::before {
  content: '\f099'; }

.facebook::before {
  content: '\f39e'; }

.dribble::before {
  content: '\f17d'; }

.linkedin::before {
  content: '\f0e1'; }

/* ---------------- TABLE ---------- */
/* -------------------------------------- */
table {
  border-collapse: collapse;
  width: 100%; }

td,
th {
  border: 1px solid #f2eeee;
  text-align: center;
  padding: 9px 45px; }

thead {
  color: #000; }
  thead tr th {
    padding: 32px 16px; }

tfoot tr td {
  background-color: #fafafa;
  padding: 32px 16px; }

tbody tr:nth-child(odd) {
  background-color: #fafafa; }

tbody, tfoot {
  color: #868686; }
  tbody tr, tfoot tr {
    text-transform: capitalize; }

@media screen and (max-width: 600px) {
  table {
    border: 0; }
  table caption {
    font-size: 1.3em; }
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px; }
  table tr {
    border-bottom: 2px solid #f39c12;
    display: block;
    margin-bottom: .625em; }
  table td {
    border-bottom: 1px solid #fbf4f4;
    display: block;
    text-align: right; }
  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase; }
  table td:last-child {
    border-bottom: 0; }
  tfoot tr td {
    background-color: #fafafa;
    padding: 8px 44px; }
    tfoot tr td:before {
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase; } }

.post {
  width: 100%;
  position: relative; }

.post-thumbnail {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  line-height: 0;
  cursor: pointer; }
  .post-thumbnail img {
    line-height: 0; }

.post-description {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.post-icon {
  display: none; }

.post-meta {
  display: none; }

.post-content {
  width: 100%;
  background-color: #fff;
  text-align: center; }
  .post-content .post-title {
    text-transform: uppercase;
    font-size: 0.75rem;
    line-height: 2.08333; }
  .post-content .post-excerpt {
    display: none; }
  .post-content .btn-inverse,
  .post-content .btn {
    display: none; }

@media only screen and (min-width: 350px) {
  .post-thumbnail {
    position: relative; }
    .post-thumbnail::after {
      content: "";
      display: block;
      width: 100%;
      height: 2.875rem;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.66) !important;
      z-index: 1;
      cursor: default; }
  .post-description {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .post-icon {
    display: inline-block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    cursor: pointer; }
    .post-icon .icon {
      display: inline-block;
      width: 2.875rem;
      height: 2.875rem;
      line-height: 2.875rem;
      font-size: 1.375rem;
      text-align: center;
      background-color: #f39c12;
      color: #fff; }
  .post-meta {
    display: inline-block;
    padding-top: 1.25rem;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 0.875rem;
    text-transform: capitalize;
    white-space: nowrap;
    z-index: 2; }
    .post-meta span {
      display: inline-block;
      padding-right: 0.625rem;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%);
      line-height: 20px;
      color: #fff; }
    .post-meta .author,
    .post-meta .comments {
      cursor: pointer; }
  .post-content .post-title {
    font-size: 0.9375rem;
    line-height: 1.66667; }
  .post-content .post-excerpt {
    padding-top: 0.625rem;
    font-size: 1rem;
    line-height: 1.75;
    font-weight: 400; } }

@media only screen and (min-width: 528px) {
  .post {
    width: 32.625rem; }
  .post-thumbnail {
    display: block;
    width: 100%;
    background-color: #f39c12; }
    .post-thumbnail::after {
      display: none; }
    .post-thumbnail:hover img {
      opacity: 0.5;
      -webkit-transition: 0.7s;
      transition: 0.7s; }
  .post-description {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row; }
  .post-icon {
    left: 66px;
    top: unset; }
  .post-meta {
    left: 0;
    top: unset;
    right: unset; }
    .post-meta span {
      display: block;
      padding-bottom: 0.25rem;
      -webkit-transform: unset;
          -ms-transform: unset;
              transform: unset;
      color: #7f7f7f; }
  .post-content {
    width: 25.625rem;
    margin-left: auto;
    padding: 1.875rem 0.6875rem 0;
    -webkit-transform: translateY(-70px);
        -ms-transform: translateY(-70px);
            transform: translateY(-70px);
    box-shadow: none;
    text-align: left;
    word-spacing: -0.125rem;
    z-index: 3; }
    .post-content .post-title {
      font-size: 1.125rem;
      line-height: 1.38889; }
    .post-content .post-excerpt {
      display: block;
      font-size: 1rem;
      line-height: 1.75; }
    .post-content .btn-inverse,
    .post-content .btn {
      display: inline-block !important; } }

.input-group {
  margin-bottom: 1.25rem;
  border: 2px solid #d9d9d9;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.7s;
  transition: 0.7s; }
  .input-group:focus {
    border-color: #f39c12; }
    .input-group:focus .icon {
      color: #f39c12; }
  .input-group:hover {
    border-color: #f39c12; }
    .input-group:hover .icon {
      color: #f39c12; }

.input-field {
  width: 100%;
  padding: 0.625rem 1.875rem;
  border-radius: 0;
  border: none;
  background-color: transparent;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  line-height: 0.625rem;
  color: #000; }

.input-icon {
  display: inline-block;
  padding-right: 1.875rem; }
  .input-icon .icon {
    font-size: 13px; }
    .input-icon .icon:hover {
      color: #f39c12; }

.input-submit-btn {
  width: 100%;
  padding: 0 2.5rem;
  border-radius: 0; }

/* ////////////// RESPONSIVE ////////////////// */
@media only screen and (min-width: 410px) {
  .input-submit-btn {
    width: unset; } }

/* ---------------- ABOUT SECTION ---------- */
/* -------------------------------------- */
.section-about .section-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column wrap;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap; }
  .section-about .section-content .content-text {
    width: 100%;
    text-align: center; }
    .section-about .section-content .content-text .title {
      margin-top: 1.5625rem; }
  .section-about .section-content .content-image {
    width: 100%;
    text-align: center; }
    .section-about .section-content .content-image img {
      max-width: 100%;
      height: auto; }
  .section-about .section-content .content-custom-image {
    position: relative;
    width: 100%;
    text-align: center;
    height: 354px;
    background: #7451eb;
    background-size: contain;
    z-index: -1;
    -webkit-clip-path: none;
            clip-path: none;
    max-height: -webkit-fill-available;
    max-height: -moz-available;
    max-height: fill-available; }
    .section-about .section-content .content-custom-image img {
      position: absolute;
      bottom: 0;
      left: 50%;
      right: 0;
      -webkit-transform: translate(-50%);
          -ms-transform: translate(-50%);
              transform: translate(-50%);
      width: 460px;
      max-width: 100%;
      height: auto; }

@media only screen and (min-width: 992px) {
  .section-about .section-content {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row nowrap;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap; }
    .section-about .section-content .content-text {
      width: 45%;
      text-align: left; }
      .section-about .section-content .content-text .title {
        margin-top: 0; }
    .section-about .section-content .content-image {
      width: 450px; }
    .section-about .section-content .content-custom-image {
      width: 40%;
      height: 254px;
      -webkit-clip-path: polygon(25% -256px, 100% 0%, 100% 100%, 0% 100%);
              clip-path: polygon(25% -256px, 100% 0%, 100% 100%, 0% 100%); }
      .section-about .section-content .content-custom-image img {
        left: 50%;
        right: 0;
        -webkit-transform: translate(-50%);
            -ms-transform: translate(-50%);
                transform: translate(-50%);
        width: 100%; } }

/* ---------------- SKILLS SECTION ---------- */
/* -------------------------------------- */
.section-skills .icon-section {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1; }
  .section-skills .icon-section:before {
    content: "\f080"; }

.section-skills .section-content {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -webkit-flex-flow: column-reverse;
      -ms-flex-flow: column-reverse;
          flex-flow: column-reverse; }
  .section-skills .section-content .content-image {
    max-width: 560px; }

@media only screen and (min-width: 992px) {
  .section-skills .icon-section {
    -webkit-box-ordinal-group: unset;
    -webkit-order: unset;
        -ms-flex-order: unset;
            order: unset; }
    .section-skills .icon-section:before {
      content: "\f080"; }
  .section-skills .section-content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap; }
    .section-skills .section-content .content-text {
      width: 40%; }
      .section-skills .section-content .content-text .progress-bar {
        margin-bottom: 10px; }
    .section-skills .section-content .content-image {
      width: 45%; } }

/* ---------------- TEAM SECTION ---------- */
/* ------------------------------- */
.section-team-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.card-team, .card {
  max-width: 100%;
  padding: 27px;
  border: 1px solid transparent;
  border-top: 4px solid transparent; }
  .card-team:hover, .card:hover {
    border: 1px solid #e8e8e8;
    border-top: 4px solid #f39c12;
    -webkit-transition: .7s;
    transition: .7s;
    background: #f0f0f0; }
    .card-team:hover .card-title:after, .card:hover .card-title:after {
      background-color: #f39c12; }
  .card-team .card-image, .card .card-image {
    width: 185px;
    height: 185px;
    border-radius: 50%;
    margin: auto;
    position: relative;
    overflow: hidden;
    border: 2px solid #e8e8e8;
    text-align: center; }
    .card-team .card-image img, .card .card-image img {
      width: 626px;
      object-fit: fill; }
  .card-team .card-title, .card .card-title {
    margin-bottom: 16px;
    padding-top: 26px;
    cursor: pointer; }
    .card-team .card-title .name, .card .card-title .name {
      font-size: 1.125rem;
      font-weight: bold;
      line-height: 1;
      text-transform: uppercase;
      color: #0d0d0d; }
    .card-team .card-title .fonction, .card .card-title .fonction {
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.25;
      text-transform: capitalize; }
    .card-team .card-title:after, .card .card-title:after {
      content: "";
      display: block;
      margin: 8px auto;
      width: 1.5625rem;
      height: 5px;
      background-color: #cccccc; }
  .card-team .card-footer, .card .card-footer {
    text-align: center; }

@media only screen and (min-width: 576px) {
  .card-team {
    width: 50%; } }

@media only screen and (min-width: 992px) {
  .card-team {
    width: 25%; } }

.stat {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  font-weight: 800;
  font-size: 1.5625rem;
  line-height: 1.32;
  text-align: center; }

.stat-project {
  max-width: 100%;
  width: 100%;
  text-align: center;
  margin-bottom: 1.25rem; }

.stat-description .numbers {
  text-transform: uppercase; }

.stat-description .label {
  font-weight: 600;
  text-transform: capitalize; }

/* ---------------- STATS SECTION ---------- */
/* -------------------------------------- */
@media only screen and (min-width: 576px) {
  .stat-project {
    width: 50%; } }

@media only screen and (min-width: 992px) {
  .stat-project {
    width: 25%;
    margin: 0; } }

/* ---------------- SERVICES SECTION ---------- */
/* -------------------------------------- */
.services {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center; }

.service {
  width: 100%; }
  .service .icon-custom {
    width: 100px;
    height: 100px;
    line-height: 6.25rem;
    font-size: 1.75rem; }
    .service .icon-custom:hover {
      background-color: #f39c12;
      color: #fff; }

.service-name {
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.25; }

.service-description {
  margin-top: 0.5rem;
  font-size: 1rem;
  line-height: 28, 16; }

@media only screen and (min-width: 576px) {
  .service {
    width: 33%; } }

/* ---------------- OFFER SECTION ---------- */
/* -------------------------------------- */
.offer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  .offer .service {
    width: 100%;
    text-align: center; }

.offer-plan-table {
  width: 100%; }
  .offer-plan-table .plan,
  .offer-plan-table .price {
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.25rem;
    line-height: 1.5; }
  .offer-plan-table .price {
    font-size: 1.125rem; }
    .offer-plan-table .price:before {
      content: " ";
      display: block;
      width: 3.125rem;
      height: 0.1875rem;
      margin: 0.1875rem auto;
      background-color: #f39c12; }

.plan-gold {
  background-color: #f39c12;
  color: #fff; }
  .plan-gold .price:before {
    background-color: #fff; }

@media only screen and (min-width: 992px) {
  .offer {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row; }
    .offer .service {
      width: 28%;
      text-align: left; }
  .offer-plan-table {
    display: block;
    width: 59%; } }

/* ---------------- PORTFOLIO ---------- */
/* -------------------------------------- */
.navigation-category {
  margin: 0 auto;
  text-align: center; }
  .navigation-category .menu-default {
    display: block; }
  .navigation-category .menu-item:before {
    color: #bfbfbf;
    padding: 0.375rem; }

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column wrap;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  margin: 0 auto; }

.project {
  width: 100%;
  margin-bottom: 1.25rem;
  border: 1px solid #f9f9f9;
  text-align: center;
  cursor: pointer; }

.project-image {
  position: relative;
  line-height: 0; }
  .project-image::before {
    content: "";
    display: inline-block;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: transparent;
    z-index: 1;
    -webkit-transition: .7s;
    transition: .7s;
    font-weight: 100; }
  .project-image:hover::before {
    content: "+";
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: rgba(243, 156, 18, 0.6) !important;
    font-size: 8.75rem;
    color: #fff; }

.project-description {
  padding: 0.75rem; }
  .project-description .title,
  .project-description .category {
    display: block;
    line-height: 1.46667; }
  .project-description .title {
    text-transform: uppercase;
    font-size: 0.875rem; }
    .project-description .title:hover {
      color: #f39c12; }
  .project-description .category {
    color: #8c8c8c;
    font-size: 0.75rem;
    text-transform: capitalize; }

@media only screen and (min-width: 615px) {
  .row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap; }
  .project {
    width: 25%; } }

@media only screen and (min-width: 768px) {
  .navigation-category .menu-item:before {
    padding: 1rem; } }

.post-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.post {
  width: 32.625rem;
  margin-bottom: 1.875rem; }
  .post:last-child {
    margin-bottom: 0; }

@media only screen and (min-width: 886px) {
  .post-list {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .post {
    width: 410px; } }

@media only screen and (min-width: 1100px) {
  .post {
    width: 32.625rem; } }

.section-contact-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.contact-form, .contact-info {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 40px; }

.contact-title {
  text-transform: uppercase;
  font-size: 20px;
  line-height: 32px;
  font-weight: 700;
  text-align: left;
  letter-spacing: -1px !important;
  margin-bottom: 33px !important; }

.addresses li {
  padding-bottom: 11px;
  font-size: 1rem;
  line-height: 2; }
  .addresses li.phone:before, .addresses li.location:before, .addresses li.email:before {
    content: "\f3c5";
    display: inline-block;
    margin-right: 1.25rem;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    border: 2px solid #f39c12;
    line-height: 33px;
    text-align: center;
    vertical-align: middle;
    font-size: .8rem;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-style: normal; }
  .addresses li.phone:hover:before, .addresses li.location:hover:before, .addresses li.email:hover:before {
    background-color: #f39c12;
    -webkit-transition: 0.7s;
    transition: 0.7s;
    color: #fff; }
  .addresses li.phone:before {
    content: "\f879"; }
  .addresses li.email:before {
    content: "\f0e0"; }

/* ////////////// RESPONSIVE ////////////////// */
@media only screen and (min-width: 768px) {
  .section-contact-content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row; }
  .contact-form,
  .contact-info {
    width: 46%; } }

/* Comment sont ecrites les règles

.class {
    Box :règles qui concernent la boîte, tailles, positionement
    
    Border : les bordures

    background : les bacground color image

    Text : les fonts et taille du text.

    Other : le reste  ex: transformation css 
}

BEM
.widget
    .widget__title
    .widget__body
    .widget__XX


.widget--green
.widget--dark */
/* Sur les écrans, quand la largeur de la fenêtre fait au maximum 1280px 
C'est a dire elle ne depasse pas 1280px
@media screen and (max-width: 1280px)
*/
