@import '../node_modules/normalize.css/normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
@import url("/assets/fontawesome/css/all.min.css");

/*Functions & Mixins */
@function r($size) {
    $remSize: $size / 16px;
    @return #{$remSize}rem;
}

@function lh($lh,$fz){
    $valueLh: $lh / $fz;
    @return $valueLh;
}

@mixin border($x, $color: #000, $type: solid ) {
 border: $x $type $color;
}

@mixin backgroundColor($color, $opacity){
    background: rgba($color, $opacity);
}

@mixin horizontal-vertical-centering($left: 0, $x:50%, $y:-50%){
    position: absolute;
    top: 50%;
    left: $left;
    transform: translateX($x) translateY($y);
}




/* Variables */
$main-color: #f39c12; //#7451eb
$fontFamily: 'Open Sans', sans-serif;
$transitionDefault : .3s;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    &:before, &:after{
         box-sizing: border-box;
    }
}


/* Valeur Par Default */
:root {
    h2 {
        font-size: 20px;
        line-height: 1.25;
    }
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #fff;
    font-size: 16px;
    font-family: $fontFamily;
    color: #737373;
    line-height: 1.75; //1.75 pourcent de la taille de la police
}


a{
 color: inherit;
 text-decoration: none;
}


p{
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
}

.cb{
    clear: both;
}




