
.section-about{

    .section-content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column wrap;
        .content-text {
            width: 100%;
            text-align: center;
            .title{
                margin-top: 25px;
            }
        }

        .content-image {
            width: 100%;
            text-align: center;
            img {
                max-width: 100%;
                height: auto;
            }
        }


        .content-custom-image {
            position: relative;
            width: 450px;
            
            width: 100%;
            text-align: center;
            height: 354px;
            background: #7451eb;
            background-size: contain;
            z-index: -1;
           // margin: 0 auto;
            clip-path: none;
            img {
                position: absolute;
                bottom: 0;
                left: 50%;
                right: 0;
                transform: translate(-50%);
                width:460px;

                max-width: 100%;
                height: auto;
            }
        }
    }
}




/////////////////////// RESPONSIVE ///////////////////////


@media only screen and (min-width: 992px) {

.section-about {

    .section-content {
        justify-content: space-between;
        align-items: flex-start;
        flex-flow: row nowrap;
        .content-text {
            width: r(505px);
            text-align: left;
            .title{
                margin-top: 0;
            }

        }

        .content-image {
            width: r(450px);
        }

        .content-custom-image {
            width: 450px;
            height: 254px;
            clip-path: polygon(25% -256px, 100% 0%, 99% 100%, 0% 100%);
            img {
                left: 50%;
                right: 0;
                transform: translate(-50%);
                width: 100%;
            }
        }
    }
}
}








