/* ---------------- BUTTONS ---------- */
/* -------------------------------------- */

.btn, .btn-inverse{
    display: inline-block;
    padding: 0 r(20px);//
    background-color: $main-color;
    cursor: pointer;
    font-size: r(13px); //
    line-height: lh(40, 15);
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    
    @include border(1px, $main-color);
    &:hover,&:focus{
        background-color: transparent;
        color: $main-color;
        @include transition-duration(.5s);
    }
}


.btn-inverse{
    background-color: transparent;
    color:#000;
 &:hover,
 &:focus {
     background-color: $main-color;
     color: #fff;
 }
}

@media only screen and (min-width: 600px) {
    .btn,
    .btn-inverse {
        padding: 0 r(40px);
        font-size: r(15px);
    }
}






