.btn{
    display: inline-block;
    padding: 0 r(20px);//
    font-size: r(13px);//
    line-height: lh(40, 15);
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    background-color: $main-color;
    @include border(1px, $main-color);
    &:hover,&:focus{
        background-color: transparent;
        color: $main-color;
        transition: $transitionDefault;
    }
}


@media only screen and (min-width: 600px) {
    .btn {
        padding: 0 r(40px);
        font-size: r(15px);
    }
}






