
.section-contact-content{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
}

.contact-form, .contact-info{
    width: 90%;
    margin: 0 auto;
    margin-bottom: 40px;
}


.contact-title{
    text-transform: uppercase;
    font-size: 20px;
    line-height: 32px;
    font-weight: 700;
    text-align: left;
    letter-spacing: -1px!important;
    margin-bottom: 33px!important;
}


.addresses {
    li {
        padding-bottom: 11px;
        font-size: r(16px);
        line-height: lh(32,16);
       &.phone, &.location, &.email{
            &:before {
                content: "\f3c5";
                display: inline-block;
                margin-right: r(20px);
                @include rounded-item(33px, 33px);
                @include border(2px, $main-color);
                line-height: 33px;
                text-align: center;
                vertical-align: middle;
                font-size: .8rem;
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                font-style: normal;
            }

            &:hover {
                &:before{
                    background-color:$main-color;
                    @include transition-duration(.7s);
                    color: #fff;
                }
            }
       }

       &.phone{
           &:before{
               content: "\f879"
           }
       }

       &.email {
           &:before {
               content: "\f0e0"
           }
       }
       
    }
}







/* ////////////// RESPONSIVE ////////////////// */
@media only screen and (min-width: 768px) {
   .section-contact-content {
       flex-direction: row;
   }

   .contact-form,
   .contact-info {
       width: 46%;
   }

}