
.input-form{
    width: 100%;
    margin-bottom: 20px;
    padding: 10px 30px;
    border: 2px solid #d9d9d9;
    border-radius: 0;
    background-color: transparent;
    outline: none;
    line-height: 10px;
    &:focus{
        border-color: $main-color;
    }

    &:hover{
        color: $main-color
    }
}


.input-submit-btn{
    padding: 7px ;
}


