/* ---------------- PORTFOLIO ---------- */
/* -------------------------------------- */



.navigation-category {
    margin: 0 auto;
    text-align: center;
    .menu-default {
        display: block;
    }

    .menu-item {
        &:before {
            color: #bfbfbf;
            padding: r(6px);
        }
    }
}




.row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    margin: 0 auto;
}

.project {
    width: 100%;
    margin-bottom: r(20px);
    @include border(1px, #f9f9f9);
    text-align: center;
    cursor: pointer;
}


.project-image{
  position: relative;
  line-height: 0;
  &::before{
    content: "";
    display: inline-block;
    width: 100%;
    @include absolute-position();
    background: transparent;
    z-index: 1;
    transition: .7s;
    font-weight: 100;

  }
  &:hover{
    &::before{
     content: "+";
     display: flex;
     align-items: center;
     justify-content: center;
     @include background-color($main-color, .6);
     font-size:r(140px);
     color: #fff;
    }
  }

}


.project-description {
    padding: r(12px);
    .title,
    .category {
        display: block;
        line-height: lh(22, 15);
    }

    .title {
        text-transform: uppercase;
        font-size: r(14px);
        &:hover {
            color: $main-color;
        }
    }

    .category {
        color: #8c8c8c;
        font-size: r(12px);
    }
}


/////////////////////// RESPONSIVE ///////////////////////

@media only screen and (min-width: 615px) {
    .row {
        flex-flow: row wrap;
    }
    .project {
        width: 25%;
    }
}




@media only screen and (min-width: 768px) {
    .navigation-category {

        .menu-item {
            &:before {
                padding: 1rem;
            }
        }
    }
}