
/* ---------------- PORTFOLIO ---------- */
/* -------------------------------------- */
.section-portfolio-content{

}



.navigation-category{

    .menu-item {
        &:before {
            content: "//";
           // color: #f00;
        }
    }
}




.row {
    display: flex;
    justify-content: center;
    align-items: center;
    //flex-flow: column wrap;
    margin: 0 auto;
}

.project{
    width: 100%;
    margin-bottom: r(20px);
    @include border(1px, #f9f9f9);
    text-align: center;
    cursor: pointer;
}


.project-description{
    padding: r(12px);
    .title,
    .category {
        display: block;
        line-height: lh(22, 15);
    }

    .title {
        text-transform: uppercase;
        font-size: r(14px);
        &:hover{
            color: $main-color;
        }
    }

    .category{
        color: #8c8c8c;
        font-size: r(12px);
    }
}


/////////////////////// RESPONSIVE ///////////////////////


@media only screen and (min-width: 576px) {
   
}


@media only screen and (min-width: 768px) {

    /* .row{
        flex-direction: row;
    }
     .project {
         width: 26%;
     } */

}