.quote-text {
    display: inline-block;
    position: relative;
    padding: 0 r(40px);
    &:before,
    &:after {
        width: 55px;
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        font-size: r(62px);
        line-height: lh(60, 62);
    }

    &:before {
        content: '"';
    }

    &:after {
        content: '"';
        left: auto;
        right: 0;
    }
}

.quote-author {
    display: block;
    margin-top: r(30px);
    &:before {
        content: '';
        display: block;
        width: r(50px);
        height: r(5px);
        background-color: $main-color;
        margin: 0 auto;
    }
}


.banner-quote-secondary{
    .quote-text {
        font-size: r(22px);
        font-weight: 400;
        line-height: lh(30, 22);
        font-style: italic;
        text-align: center;
           &:before,
           &:after {
               display: none;
           }
    }

    .quote-author {
        margin-top: 0;
        margin-bottom: 30px;
        &:before{
            display: none;
        }
        &:after {
            content: '';
            display: block;
            width: r(50px);
            height: r(5px);
            background-color: $main-color;
            margin: 0 auto;
        }
    }

}

/////////////////////// RESPONSIVE ///////////////////////

 @media only screen and (min-width: 768px) {

    .quote-text{
        padding: 0 r(55px);
        &:before,
        &:after {
            font-size: r(110px);
            line-height: lh(60, 110);

        }
    }
 }