.section-x {
    padding: r(45px) 0; //r(85px) 0;
    background-color: #fff;
    position: relative;
    &:before,
    &:after {
        content: '';
        display: block;
        background-color: #fff;
        z-index: 4;
        @include absolute-position();
        transform-origin: top left;
        transform: skewY(-2deg);
    }

    &:after {
        transform-origin: top right;
    }

    .l-container {
        position: relative;
    }
}


.section-presentation {
    margin-bottom:clamp(60px, 7vw, 140px); // r(60px);
    display: flex;
    align-items: center;
    flex-flow: column wrap;
    padding: 0 r(16px); // 0 20px;
    max-width: 100%;


    .section-presentation-title {
        padding: 0; //11px 20px;//
        text-transform: uppercase;
        text-align: center;

    }

    .section-presentation-text {
        padding: r(10px) 0;
        font-size: clamp(r(11px), 3.4vw, r(16px)); // r(16px);
        line-height: lh(25, 16);
        text-transform: uppercase;
        font-weight: 400;
        text-align: center;
        &::before {
            content: '';
            display: block;
            width: 50px;
            height: 0;
            margin: 0 auto;
            margin-bottom: 15px;
            border-bottom: 4px solid $main-color;
            transition: $transitionDefault;

        
        }
    }


}

.icon-section {
    position: relative;
    &:before {
        content: "\f0eb";
        display: inline-block;
        width: r(110px);
        height: r(110px);
        
        border: 2px solid $main-color;
        border-radius: 50%;
        font-family: 'Font Awesome 5 Free';
        font-weight: 300;
        font-size: r(36px);

        line-height: 110px;
        text-align: center;
        vertical-align: top;
    }
    &:hover,&:focus {
        transition: $transitionDefault;
        &:before{
            background-color: transparent;
            color: $main-color;
            @include border(2px , $main-color);
            cursor: pointer;
            
        }
    }
}





/////////////////////// RESPONSIVE ///////////////////////


@media only screen and (min-width: 768px) {

    .section {
        padding: r(85px) 0;
    }

    .section-presentation {
        flex-flow: row nowrap; 

        .section-presentation-title{
            margin-top: r(-20px);
        }

        .section-presentation-text {
            padding: 0 r(20px);
            margin-left: r(20px);
            text-align: left;
            border-left: r(4px) solid $main-color;
            &:before {
                display: none;
            }
        }


    }


    
}


