/* ---------------- SECTIONS  ---------- */
/* -------------------------------------- */


.section-x {
    padding: r(45px) 0; //r(85px) 0;
   // background-color: #fff;
    position: relative;
    &:before,
    &:after {
        content: '';
        display: block;
        background-color: #fff;
        z-index: 4;
        @include absolute-position();
        transform-origin: top left;
        transform: skewY(-2deg);
    }

    &:after {
        transform-origin: top right;
    }

    .l-container {
        position: relative;
    }
}


.section-presentation {
    margin-bottom:clamp(60px, 7vw, 140px); // r(60px);
    display: flex;
    align-items: center;
    flex-flow: column wrap;
    padding: 0 r(16px); // 0 20px;
    max-width: 100%;
    .section-presentation-title {
        padding: 0; //11px 20px;//
        text-transform: uppercase;
        text-align: center;

    }

    .section-presentation-text {
        padding: r(10px) 0;
        font-size: clamp(r(11px), 3.4vw, r(16px)); // r(16px);
        line-height: lh(25, 16);
        text-transform: uppercase;
        font-weight: 400;
        text-align: center;
        &::before {
            content: '';
            display: block;
            width: 50px;
            height: 0;
            margin: 0 auto;
            margin-bottom: 15px;
            border-bottom: 4px solid $main-color;
            transition: $transitionDefault;

        
        }
    }


}




/* Section banner */

.section-banner{
    position: relative;
    padding: 100px 0; 
    background: url('/assets/images/bg-head.jpg') top center / cover no-repeat;
    background-attachment: fixed;
    text-align: center;
    color: #fff;
    &:before{
        content: "";
        @include absolute-position();
        @include background-color($second-color, .4);
        z-index: 1;
    }

    .card{
        padding-bottom: 0;
        &:hover{
             border: 1px solid transparent;
             border-top: 4px solid transparent;
             transition: .7s;
             background: transparent;
        }
        .card-image {
            @include rounded-item(111px, 111px);
            cursor: pointer;
        }
    }

    .l-container{
        position: relative;
    }

}






/////////////////////// RESPONSIVE ///////////////////////


@media only screen and (min-width: 768px) {

    .section {
        padding: r(85px) 0;
    }

    .section-presentation {
        flex-flow: row nowrap; 

        .section-presentation-title{
            margin-top: r(-20px);
        }

        .section-presentation-text {
            padding: 0 r(20px);
            margin-left: r(20px);
            text-align: left;
            border-left: r(4px) solid $main-color;
            &:before {
                display: none;
            }
        }


    }


    .section-banner{
        padding: 200px 0;
    }


    
}


