.stat{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 800;
    font-size: 25px;
    line-height: 33px;
}


.stat-description{
    .numbers {
        text-transform: uppercase;
    }

    .label {
        font-weight: 600;
        text-transform: capitalize;
    }
}